In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

Indicator 1 - Renters who pay more than 50% of their income on housing

In [11]:
#2018

# B25070_010E (estimate total 50.0 percent or more) 
# B25070_001E (total) 

rent = pd.read_csv('../data/raw/2014-18/ACSDT5Y2018.B25070_data_with_overlays.csv',
                   low_memory=False, skiprows=[1],
                   usecols=['GEO_ID','NAME','B25070_010E','B25070_001E','B25070_011E'])
rent.head(2)

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E
0,1400000US36005042902,"Census Tract 429.02, Bronx County, New York",1442,677,57
1,1400000US36005033000,"Census Tract 330, Bronx County, New York",2024,675,37

In [15]:
rent['pay over 50'] = (rent['B25070_010E'] / (rent['B25070_001E'] - rent['B25070_011E'])).round(decimals=2)
rent.head()

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E,pay over 50
0,1400000US36005042902,"Census Tract 429.02, Bronx County, New York",1442,677,57,0.49
1,1400000US36005033000,"Census Tract 330, Bronx County, New York",2024,675,37,0.34
2,1400000US36005035800,"Census Tract 358, Bronx County, New York",834,287,0,0.34
3,1400000US36005037100,"Census Tract 371, Bronx County, New York",1558,386,79,0.26
4,1400000US36005038500,"Census Tract 385, Bronx County, New York",1648,708,117,0.46

Indicator 3 - Unemployment rate

In [4]:
employment = pd.read_csv('../data/raw/employment_ACSDP03_2018.csv',
                         low_memory=False, skiprows=[1],
                         usecols=['GEO_ID','NAME','DP03_0003E','DP03_0005E','DP03_0037E'])

In [5]:
employment.head()

,GEO_ID,NAME,DP03_0003E,DP03_0005E,DP03_0037E
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",0,0,0
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873,295,57
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052,244,207
3,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477,164,306
4,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451,192,103

In [6]:
employment['DP03_0003E']=employment['DP03_0003E'].astype(float)
employment['DP03_0005E']=employment['DP03_0005E'].astype(float)

In [7]:
employment['unemployment rate'] = (100 * employment['DP03_0005E'] / employment['DP03_0003E']).round(decimals=2)
employment.head()

,GEO_ID,NAME,DP03_0003E,DP03_0005E,DP03_0037E,unemployment rate
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",0.0,0.0,0,NaN
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873.0,295.0,57,15.75
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052.0,244.0,207,7.99
3,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477.0,164.0,306,6.62
4,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451.0,192.0,103,13.23