In [31]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

Indicator 1 - Renters who pay more than 50% of their income on housing

In [32]:
rent = pd.read_csv('../data/ACSDT5Y2018.B25070_2020-11-19T202042/ACSDT5Y2018.B25070_data_with_overlays_2020-11-19T201947.csv',
                   low_memory=False, skiprows=[1],
                   usecols=['GEO_ID','NAME','B25070_010E','B25070_001E','B25070_011E'])
rent.head()

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E
0,1400000US36061003700,"Census Tract 37, New York County, New York",789,127,61
1,1400000US36061008601,"Census Tract 86.01, New York County, New York",1001,204,49
2,1400000US36061004400,"Census Tract 44, New York County, New York",8145,1439,224
3,1400000US36061008603,"Census Tract 86.03, New York County, New York",736,204,16
4,1400000US36061008602,"Census Tract 86.02, New York County, New York",0,0,0

In [43]:
rent['pay over 50'] = (rent['B25070_010E'] / (rent['B25070_001E'] - rent['B25070_011E'])).round(decimals=2)
rent

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E,pay over 50
0,1400000US36061003700,"Census Tract 37, New York County, New York",789,127,61,0.17
1,1400000US36061008601,"Census Tract 86.01, New York County, New York",1001,204,49,0.21
2,1400000US36061004400,"Census Tract 44, New York County, New York",8145,1439,224,0.18
3,1400000US36061008603,"Census Tract 86.03, New York County, New York",736,204,16,0.28
4,1400000US36061008602,"Census Tract 86.02, New York County, New York",0,0,0,NaN
...,...,...,...,...,...,...
2162,1400000US36085017012,"Census Tract 170.12, Richmond County, New York",324,46,106,0.21
2163,1400000US36085024402,"Census Tract 244.02, Richmond County, New York",345,84,33,0.27
2164,1400000US36085027705,"Census Tract 277.05, Richmond County, New York",470,159,66,0.39
2165,1400000US36085027706,"Census Tract 277.06, Richmond County, New York",275,60,59,0.28
2166,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,NaN

In [40]:
# rows with NaN - because has 0's for the columns being used for calculations
rent[rent.isna().any(axis=1)]

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E,pay over 50
4,1400000US36061008602,"Census Tract 86.02, New York County, New York",0,0,0,NaN
47,1400000US36061029700,"Census Tract 297, New York County, New York",0,0,0,NaN
125,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,NaN
175,1400000US36061024000,"Census Tract 240, New York County, New York",0,0,0,NaN
233,1400000US36061021703,"Census Tract 217.03, New York County, New York",0,0,0,NaN
256,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,NaN
260,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,NaN
268,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,NaN
283,1400000US36061014300,"Census Tract 143, New York County, New York",0,0,0,NaN
311,1400000US36005000100,"Census Tract 1, Bronx County, New York",0,0,0,NaN
367,1400000US36005016300,"Census Tract 163, Bronx County, New York",0,0,0,NaN
371,1400000US36005024900,"Census Tract 249, Bronx County, New York",0,0,0,NaN
443,1400000US36005017100,"Census Tract 171, Bronx County, New York",0,0,0,NaN
457,1400000US36005033400,"Census Tract 334, Bronx County, New York",0,0,0,NaN
582,1400000US36005031900,"Census Tract 319, Bronx County, New York",0,0,0,NaN
596,1400000US36005011000,"Census Tract 110, Bronx County, New York",0,0,0,NaN
706,1400000US36047040700,"Census Tract 407, Kings County, New York",0,0,0,NaN
722,1400000US36047017700,"Census Tract 177, Kings County, New York",0,0,0,NaN
738,1400000US36047118000,"Census Tract 1180, Kings County, New York",0,0,0,NaN
840,1400000US36047096000,"Census Tract 960, Kings County, New York",0,0,0,NaN
943,1400000US36047001800,"Census Tract 18, Kings County, New York",0,0,0,NaN
975,1400000US36047017500,"Census Tract 175, Kings County, New York",0,0,0,NaN
1030,1400000US36047015400,"Census Tract 154, Kings County, New York",0,0,0,NaN
1158,1400000US36047070203,"Census Tract 702.03, Kings County, New York",0,0,0,NaN
1194,1400000US36047085200,"Census Tract 852, Kings County, New York",0,0,0,NaN
1214,1400000US36047008600,"Census Tract 86, Kings County, New York",0,0,0,NaN
1255,1400000US36047066600,"Census Tract 666, Kings County, New York",0,0,0,NaN
1387,1400000US36047990100,"Census Tract 9901, Kings County, New York",0,0,0,NaN
1393,1400000US36081017100,"Census Tract 171, Queens County, New York",0,0,0,NaN
1413,1400000US36081071600,"Census Tract 716, Queens County, New York",0,0,0,NaN
1436,1400000US36081091800,"Census Tract 918, Queens County, New York",0,0,0,NaN
1439,1400000US36081009900,"Census Tract 99, Queens County, New York",0,0,0,NaN
1453,1400000US36081010701,"Census Tract 107.01, Queens County, New York",0,0,0,NaN
1475,1400000US36081038301,"Census Tract 383.01, Queens County, New York",0,0,0,NaN
1476,1400000US36081038302,"Census Tract 383.02, Queens County, New York",0,0,0,NaN
1488,1400000US36081065501,"Census Tract 655.01, Queens County, New York",0,0,0,NaN
1490,1400000US36081061302,"Census Tract 613.02, Queens County, New York",0,0,0,NaN
1532,1400000US36081021900,"Census Tract 219, Queens County, New York",0,0,0,NaN
1534,1400000US36081024600,"Census Tract 246, Queens County, New York",0,0,0,NaN
1553,1400000US36081091602,"Census Tract 916.02, Queens County, New York",0,0,0,NaN
1563,1400000US36081079300,"Census Tract 793, Queens County, New York",0,0,0,NaN
1571,1400000US36081099900,"Census Tract 999, Queens County, New York",0,0,0,NaN
1580,1400000US36081128300,"Census Tract 1283, Queens County, New York",0,0,0,NaN
1606,1400000US36081107202,"Census Tract 1072.02, Queens County, New York",0,0,0,NaN
1610,1400000US36081121100,"Census Tract 1211, Queens County, New York",0,0,0,NaN
1614,1400000US36081138502,"Census Tract 1385.02, Queens County, New York",0,0,0,NaN
1833,1400000US36081042600,"Census Tract 426, Queens County, New York",0,0,0,NaN
1859,1400000US36081029900,"Census Tract 299, Queens County, New York",0,0,0,NaN
1864,1400000US36081033100,"Census Tract 331, Queens County, New York",0,0,0,NaN
1870,1400000US36081064102,"Census Tract 641.02, Queens County, New York",0,0,0,NaN
1983,1400000US36081003700,"Census Tract 37, Queens County, New York",0,0,0,NaN
1985,1400000US36081062400,"Census Tract 624, Queens County, New York",0,0,0,NaN
2056,1400000US36081990100,"Census Tract 9901, Queens County, New York",0,0,0,NaN
2109,1400000US36085015400,"Census Tract 154, Richmond County, New York",0,0,0,NaN
2166,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,NaN

In [42]:
# rent table without  NaN 

rent.dropna()

,GEO_ID,NAME,B25070_001E,B25070_010E,B25070_011E,pay over 50
0,1400000US36061003700,"Census Tract 37, New York County, New York",789,127,61,0.17
1,1400000US36061008601,"Census Tract 86.01, New York County, New York",1001,204,49,0.21
2,1400000US36061004400,"Census Tract 44, New York County, New York",8145,1439,224,0.18
3,1400000US36061008603,"Census Tract 86.03, New York County, New York",736,204,16,0.28
5,1400000US36061016500,"Census Tract 165, New York County, New York",1999,252,55,0.13
...,...,...,...,...,...,...
2161,1400000US36085017011,"Census Tract 170.11, Richmond County, New York",370,33,75,0.11
2162,1400000US36085017012,"Census Tract 170.12, Richmond County, New York",324,46,106,0.21
2163,1400000US36085024402,"Census Tract 244.02, Richmond County, New York",345,84,33,0.27
2164,1400000US36085027705,"Census Tract 277.05, Richmond County, New York",470,159,66,0.39
2165,1400000US36085027706,"Census Tract 277.06, Richmond County, New York",275,60,59,0.28

Indicator 3 - Unemployment rate

In [23]:
employment = pd.read_csv('../data/employment_ACSDP03_2018.csv',
                         low_memory=False, skiprows=[1],
                         usecols=['GEO_ID','NAME','DP03_0003E','DP03_0005E','DP03_0037E'])

In [24]:
employment.head()

,GEO_ID,NAME,DP03_0003E,DP03_0005E,DP03_0037E
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",0,0,0
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873,295,57
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052,244,207
3,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477,164,306
4,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451,192,103

In [25]:
employment['DP03_0003E']=employment['DP03_0003E'].astype(float)
employment['DP03_0005E']=employment['DP03_0005E'].astype(float)

In [26]:
employment['unemployment rate'] = (100 * employment['DP03_0005E'] / employment['DP03_0003E']).round(decimals=2)
employment.head()

,GEO_ID,NAME,DP03_0003E,DP03_0005E,DP03_0037E,unemployment rate
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",0.0,0.0,0,NaN
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873.0,295.0,57,15.75
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052.0,244.0,207,7.99
3,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477.0,164.0,306,6.62
4,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451.0,192.0,103,13.23